.card {
  color: black;
  padding: 1rem;
  min-height: 4rem;
  box-shadow: 5px 5px 5px 3px #d3d3d3;
  width: 50%;
  margin: 2rem auto;
  line-height: 1.5;
}

.card h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin:0 0 1rem;
}


.card h3 {
  font-size: 1rem;
  font-weight: 400;
}

.card h4 {
  font-size: 0.85rem;
  font-weight: 300;
}


.card h5 {
  font-weight: 200;
}

.card button {
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: steelblue;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 2px;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imageWrapper {
  width: 350px;
}

.imageContent {
  margin: 1rem 0 0.5rem;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.image {
  object-fit: cover;
}

.qty {
  margin-bottom: 1rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  gap: 1rem;
}

.list {
  list-style-type: none;
}
